<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833819821331-l279rde5sf0igkj1i3h61etehslpqqbm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833819821331-l279rde5sf0igkj1i3h61etehslpqqbm</string>
	<key>API_KEY</key>
	<string>AIzaSyAdzLMPBZjpTwd1i6XeP3bnyCsaWBM3VSA</string>
	<key>GCM_SENDER_ID</key>
	<string>833819821331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.powerpal</string>
	<key>PROJECT_ID</key>
	<string>powerpal-8a53c</string>
	<key>STORAGE_BUCKET</key>
	<string>powerpal-8a53c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833819821331:ios:363e73782716d538f386e6</string>
</dict>
</plist>